<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>IpiMdd050EvalWeb</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.css}"/>
        <link rel="stylesheet" href="https://bootswatch.com/3/journal/bootstrap.min.css">
    </head>

    <body class="ember-application">

        <div th:fragment="navbar">

            <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

            <nav class="navbar navbar-default">

                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle collapsed">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/" class="navbar-brand active ember-view">Librairie Audio</a>
                    </div>

                    <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="/artists?page=0&size=10&sortDirection=ASC&sortProperty=name" class="nav-link ember-view">Liste des artistes</a>
                            </li>
                        </ul>

                        <form role="search" class="navbar-form navbar-right"  action="/artists" method="GET">
                            <div class="form-group">
                                <input type="text" name="name" placeholder="Rechercher par nom" class="ember-text-field form-control ember-view">
                            </div>
                            <button type="submit" class="btn btn-default">Rechercher</button>
                        </form>

                    </div>

                </div>
            </nav>

        </div>




    </body>

</html>