<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="fragments/menu :: head">
	</head>

	<body class="ember-application">

		<div>
			<div th:replace="fragments/menu :: navbar">
			</div>

			<div class="container">
				<h2 th:if="${artist.getId()}">Détail de l'artiste [[${artist.name}]]  </h2>
				<h2 th:if="!${artist.getId()}">Nouvel artiste </h2>
				<div class="row">
					<div class="col-lg-12">

						<div class="form-group">
							<label for="name" class="form-control-label">Nom</label>
							<input form="form-save" name="name" type="text" id="name" class="ember-text-field form-control ember-view" required th:value="${artist.name}">

							<label th:if="${artist.getId()}" for="performance" class="form-control-label">Albums</label>
							<div th:if="${artist.getId()}" class="row" th:each="album : ${artist.getAlbums()}">
								<div class="col-lg-10">
									<div class="list-group" >
										<li class="list-group-item" th:text="${album.title}">&nbsp;album title </li>
									</div>
								</div>
								<div class="col-lg-2 text-center">
									<div class="list-group text-center" >
										<form th:action="'/albums/'+${album.id}" th:method="delete">
											<input hidden="hidden" name="artist" th:value="${artist.id}">
											<button class="btn-danger list-group-item list-group-item-action">
												<span class="glyphicon glyphicon-remove"></span>
											</button>
										</form>
									</div>
								</div>
							</div>
							<div th:if="${artist.getId()}" class="row">
								<div class="col-lg-10">
									<input form="form-album" name="title" type="text" placeholder="Ajouter un album..." required class="form-control ember-text-field ember-view">
								</div>
								<div class="col-lg-2 text-center">
									<form id="form-album" th:action="'/albums'" th:method="post">
										<input hidden="hidden" name="artist" th:value="${artist.id}">
										<button class="btn-success list-group-item list-group-item-action">
											<span class="glyphicon glyphicon-plus"></span>
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">

					<form th:if="!${artist.getId()}" id="form-save"  th:action="'/artists'" th:method="post">
						<button type="submit"  class="btn btn-primary">Enregistrer</button>
					</form>

					<form th:if="${artist.getId()}" id="form-save" th:action="'/artists/'+${artist.getId()}" th:method="put">
						<button type="submit"  class="btn btn-primary">Enregistrer</button>
					</form>

					<form th:if="${artist.getId()}" th:action="'/artists/'+${artist.getId()}" th:method="delete">
						<button type="submit" class="btn btn-danger"  >Supprimer</button>
					</form>

				</div>

			</div>
		</div>
	</body>
</html>